extends layout

block content
  if users.length
    table.listing-table.table-dark.table-striped
      tr
        th Name
        th Email
        th PassWord
      each user in users
        tr
          td= user.name
          td= user.email
          td= user.password
  else
    p No registrations yet :(